body{
    padding: 0;
    margin: 0;
}
.navbar {
    width: 100%;
    display: flex;
    text-align: center;
    background-image: linear-gradient(to bottom right, #ffae00, rgb(255, 0, 34));
    border: none;
    left: 0;
    top: 0;
    height: 10vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: none;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 12vw;
    text-decoration: none;
    text-align: center;
}
nav {
    flex: 1;
    display: inline-block;
    margin-left: 20%;
}