*{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #ffd460; 
}
::-webkit-scrollbar-thumb {
    background: #151c64;
    background-image: linear-gradient(to bottom right, #3669c0, #151c64); 
}
::-webkit-scrollbar-thumb:hover {
    background: #3669c0; 
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.navbar {
    width: 100%;
    display: flex;
    text-align: center;
    background-image: linear-gradient(to bottom right, #2f00ff, rgb(59, 137, 255));
    border: none;
    left: 0;
    top: 0;
    height: 10vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ul {
    list-style-type: none;
    margin-left: 8%;
    padding: 0;
    display: flex;
    box-sizing: none;
    color: white;
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
    margin-top: 2%;
}
nav {
    flex: 1;
    display: flex;
    margin-left: 18%;
}
.button {
    color: white;
    border: none;
    text-decoration: none;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
    }
.img {
    height: 5%;
    width: 7%;
}
.ul li {
    padding: 2vw;
}
.myBtn {
    text-decoration: none;
    text-decoration-color: none;
    color: #ffd460;
    background: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    transition: all 500ms;
    font-weight: bold;
}
.myBtn:hover{
    background: #ffd460;
    color: aliceblue;
    cursor: pointer;
    font-size: 40px;
}
.myBtn2 {
    text-decoration: none;
    text-decoration-color: none;
    color: #ffd460;
    background: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    transition: all 500ms;
    font-weight: bold;
}
.myBtn2:hover{
    background: #ffd460;
    color: aliceblue;
    cursor: pointer;
    font-size: 40px;
}
.myBtn3 {
    text-decoration: none;
    text-decoration-color: none;
    color: #ffd460;
    background: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    transition: all 500ms;
    font-weight: bold;
}
.myBtn3:hover{
    background: #ffd460;
    color: aliceblue;
    cursor: pointer;
    font-size: 40px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}