.navbar {
    width: 100%;
    display: flex;
    text-align: center;
    background-image: linear-gradient(to bottom right, #ffae00, rgb(255, 0, 34));
    color: white;
    border: none;
    left: 0;
    top: 0;
}